[Unit]
Description=High-performance, schema-free document-oriented database
After=network.target

[Service]
User=root
Type=forking
ExecStart=/usr/bin/mongos --maxConns=60000 --quiet --config /etc/mongos.conf

[Install]
WantedBy=multi-user.target